body{
    margin: 10px;
    padding: auto;
    margin: 10px 15px;
    margin: 10px;
}
h1 {
    font-family: serif;
    font-style: italic;
    font-size: ;
    display: block;
    box-decoration-break: ;
    display: flex;
}